*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 1cm;
    box-shadow: 0 0 10px #00000030;
    border-radius: 5px;
    width: 10cm;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}